html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    height: 50%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

*:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: black;
}

