.canvasAndAnswers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 5vh;
    font-weight: bold;
    margin: 0px;
}

.users {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    color: yellow;
    justify-content: space-evenly;
}

.answerListHidden {
    display: flex;
    flex-direction: column;
    margin: 30px;
    line-height: 80px;
    visibility: hidden;
}

.answerListShow {
    display: flex;
    flex-direction: column;
    margin: 30px;
    line-height: 80px;
}

.answerChoicesHidden {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #FF2D55;
    color: white;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-left: 25%;
    display: none
}

.answerChoicesShow {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #FF2D55;
    color: white;
    width: 200px;
    height: 200%;
    margin: 10px;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-left: 25%;
}

.answerChoicesShow:hover {
    cursor: pointer;
    background-color: #b82640;;
    color: white;
}

.logoAndTimer {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 20px;
}

.hideMe {
    display: none;
}

.showMe {
    display: block;
    z-index: 100
}

.promptText {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.pencil {
    width: 50px;
    height: 50px;
    animation-name: swipeAcross;
    animation-duration: 60s;
    animation-iteration-count: 20;
  }
  
  @keyframes swipeAcross {
    0% {
        transform: rotate(20deg);
        margin-left: 0%;
    }
    5% {
        transform: rotate(-20deg);
    }
    10% {
        transform: rotate(20deg);
    }
    15% {
        transform: rotate(-20deg);
    }
    20% {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    30% {
        transform: rotate(20deg);
    }
    35% {
        transform: rotate(-20deg);
    }
    40% {
        transform: rotate(20deg);
    }
    45% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
        margin-left: 100%;
    }
    55% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(20deg);
    }
    65% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(20deg);
    }
    85% {
        transform: rotate(-20deg);
    }
    90% {
        transform: rotate(20deg);
    }
    95% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
        margin-left: 200%;
    }
  }