.text {
    margin: 10% 1%;
    text-align: center;
}

.buttonContainer {
    text-align: center;
}

.startButton {
    border: 2px black solid;
    margin: 5%;
}

.startButton a {
    text-decoration: none;
}

.cancelButton {
    border: 2px black solid;
    margin: 5%;
}

.cancelButton a {
    text-decoration: none;
}

.userListContainer {
    border: 2px black solid;
    overflow: auto;
    width: 100%;
    height: 200px;
    margin: auto;
}

.userList {
    list-style: none;
    padding: 0;
    text-align: center;
}