
.inputContainer {
    width: 100%;
}

.nameInputContainer {
    text-align: center;
}

.nameInput {
    border: 2px black solid;
}

.pinInputContainer {
    text-align: center;
}

.pinInput {
    border: 2px black solid;
}

.ButtonContainer {
    text-align: center;
}

.joinButton {
    border: 2px black solid;
    margin: 0;
    pointer-events: none;
}

.joinButtonActivated {
    border: 2px black solid;
    margin: 0;
}
.cancelButton {
    border: 2px black solid;
    margin: 5%;
}